.btn-wrapper button {
  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #ffff;
}

.img-wrapper img {
  width: 100px;
}

.cart-wrapper {
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.item {
  float: left;
  display: inline-block;
}

.add-to-cart img {
  width: 50px;
  float: right;
}